body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f9;
}

input[type="text"], input[type="date"], textarea {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    }