<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
    <h1>Checkout</h1>
    <form id="payment-form">
        <div id="card-element">
          <!-- Stripeのカード要素がここに挿入されます -->
        </div>
        <button type="submit" id="submit">
            <span id="button-text">Pay</span>
        </button>
        <p id="card-error" role="alert"></p>
        <p class="result-message hidden">
            Payment succeeded, see the result in your
            <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
        </p>
    </form>

    <script src="/static/script.js"></script>
</body>
</html>
